<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.baumann.hhsmoodle">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permisson.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- activities main -->

        <activity
            android:name="de.baumann.hhsmoodle.activities.Activity_splash"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Login">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:icon="@mipmap/ic_note_plus" >
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="shortcutBookmarks" />
                <action android:name="shortcutNotes" />
                <action android:name="shortcutToDo" />
                <action android:name="shortcutBrowser" />
                <action android:name="shortcutSchedule" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="shortcutFavorite_Browser" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="moodle.huebsch.ka.schule-bw.de" />
            </intent-filter>

            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".HHS_MainScreen"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="shortcutBookmarks_HS" />
                <action android:name="shortcutNotes_HS" />
                <action android:name="shortcutToDo_HS" />
                <action android:name="shortcutBrowser_HS" />
                <action android:name="shortcutSchedule_HS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- activities helper -->

        <activity
            android:name=".activities.Activity_EditNote"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".about.About_activity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"  />

        <activity
            android:name=".activities.Activity_todo"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Activity_count"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Activity_settings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="de.baumann.hhsmoodle.activities.Activity_password"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- help -->

        <activity
            android:name=".activities.Activity_intro"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragmentsMain.FragmentBrowser_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_bookmarks.Bookmarks_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_todo.Todo_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_notes.Notes_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_schedule.Schedule_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fragmentsMain.FragmentGrades_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_courses.Courses_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_random.Random_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".data_subjects.Subjects_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activities.Activity_settings_Help"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- popups -->

        <activity
            android:name=".popup.Popup_bookmarks"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog" />

        <activity
            android:name=".popup.Popup_subjects"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog" />

        <activity
            android:name=".popup.Popup_todo"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog" />

        <activity
            android:name=".popup.Popup_note"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog" />

        <activity
            android:name=".popup.Popup_camera"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog" />

        <activity
            android:name=".popup.Popup_todo_restart"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".popup.Popup_courseList"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog">
            <intent-filter>
                <action android:name="courseList_random" />
                <action android:name="courseList_todo" />
                <action android:name="courseList_note" />
                <action android:name="courseList_subject" />
                <action android:name="courseList_count" />
            </intent-filter>
        </activity>

        <activity
            android:name=".popup.Popup_files"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeDialog">
            <intent-filter>
                <action android:name="file_chooseText" />
                <action android:name="file_chooseAttachment" />
            </intent-filter>
        </activity>


        <!-- provider, receiver, service -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="de.baumann.hhsmoodle.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service android:name="de.baumann.hhsmoodle.helper.class_NotService"/>
        <service android:name="de.baumann.hhsmoodle.helper.class_AlarmService"/>


        <receiver android:name="de.baumann.hhsmoodle.helper.RebootReceiver_not">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
